In [1]:
import sqlite3

# Connect to the SQLite database
connection = sqlite3.connect('sqlite_db_pythonsqlite.db')

# Create a cursor
cursor = connection.cursor()

query = '''
SELECT
    f.name AS facility,
    SUM(CASE WHEN b.memid = 0 THEN b.slots * f.guestcost
             ELSE b.slots * f.membercost END) AS total_revenue
FROM
    Bookings AS b
INNER JOIN
    Facilities AS f
    ON b.facid = f.facid
GROUP BY
    f.name
HAVING
    total_revenue < 1000
ORDER BY
    total_revenue;
'''

cursor.execute(query)

results = cursor.fetchall()

results

[('Table Tennis', 180), ('Snooker Table', 240), ('Pool Table', 270)]

In [2]:
query = '''
SELECT 
    (m.surname || ", " || m.firstname) AS member_name,
    (r.surname || ", " || r.firstname) AS recommended_by
FROM
    Members AS m
LEFT JOIN
    Members AS r
    ON m.recommendedby = r.memid
WHERE
    m.memid != 0
ORDER BY
    m.surname,
    m.firstname;
'''

cursor.execute(query)

results = cursor.fetchall()
results

[('Bader, Florence', 'Stibbons, Ponder'),
 ('Baker, Anne', 'Stibbons, Ponder'),
 ('Baker, Timothy', 'Farrell, Jemima'),
 ('Boothe, Tim', 'Rownam, Tim'),
 ('Butters, Gerald', 'Smith, Darren'),
 ('Coplin, Joan', 'Baker, Timothy'),
 ('Crumpet, Erica', 'Smith, Tracy'),
 ('Dare, Nancy', 'Joplette, Janice'),
 ('Farrell, David', None),
 ('Farrell, Jemima', None),
 ('Genting, Matthew', 'Butters, Gerald'),
 ('Hunt, John', 'Purview, Millicent'),
 ('Jones, David', 'Joplette, Janice'),
 ('Jones, Douglas', 'Jones, David'),
 ('Joplette, Janice', 'Smith, Darren'),
 ('Mackenzie, Anna', 'Smith, Darren'),
 ('Owen, Charles', 'Smith, Darren'),
 ('Pinker, David', 'Farrell, Jemima'),
 ('Purview, Millicent', 'Smith, Tracy'),
 ('Rownam, Tim', None),
 ('Rumney, Henrietta', 'Genting, Matthew'),
 ('Sarwin, Ramnaresh', 'Bader, Florence'),
 ('Smith, Darren', None),
 ('Smith, Darren', None),
 ('Smith, Jack', 'Smith, Darren'),
 ('Smith, Tracy', None),
 ('Stibbons, Ponder', 'Tracy, Burton'),
 ('Tracy, Burton', None),
 ('Tupperware, Hyacinth', None),
 ('Worthington-Smyth, Henry', 'Smith, Tracy')]

In [3]:
query = '''
SELECT
    f.name AS facility,
    COUNT(b.memid) AS member_usage
FROM
    Facilities AS f
LEFT JOIN
    Bookings AS b
    ON f.facid = b.facid
WHERE
    b.memid != 0
GROUP BY
    f.name
ORDER BY
    facility;
'''

cursor.execute(query)

results = cursor.fetchall()
results

[('Badminton Court', 344),
 ('Massage Room 1', 421),
 ('Massage Room 2', 27),
 ('Pool Table', 783),
 ('Snooker Table', 421),
 ('Squash Court', 195),
 ('Table Tennis', 385),
 ('Tennis Court 1', 308),
 ('Tennis Court 2', 276)]

In [4]:
query = '''
SELECT
    strftime('%Y-%m', b.starttime) AS month,
    f.name AS facility,
    COUNT(b.memid) AS member_usage
FROM
    Facilities AS f
LEFT JOIN
    Bookings AS b
    ON f.facid = b.facid
WHERE
    b.memid != 0
GROUP BY
    month,
    facility
ORDER BY
    month,
    facility;
'''

cursor.execute(query)

results = cursor.fetchall()
results

[('2012-07', 'Badminton Court', 51),
 ('2012-07', 'Massage Room 1', 77),
 ('2012-07', 'Massage Room 2', 4),
 ('2012-07', 'Pool Table', 103),
 ('2012-07', 'Snooker Table', 68),
 ('2012-07', 'Squash Court', 23),
 ('2012-07', 'Table Tennis', 48),
 ('2012-07', 'Tennis Court 1', 65),
 ('2012-07', 'Tennis Court 2', 41),
 ('2012-08', 'Badminton Court', 132),
 ('2012-08', 'Massage Room 1', 153),
 ('2012-08', 'Massage Room 2', 9),
 ('2012-08', 'Pool Table', 272),
 ('2012-08', 'Snooker Table', 154),
 ('2012-08', 'Squash Court', 85),
 ('2012-08', 'Table Tennis', 143),
 ('2012-08', 'Tennis Court 1', 111),
 ('2012-08', 'Tennis Court 2', 109),
 ('2012-09', 'Badminton Court', 161),
 ('2012-09', 'Massage Room 1', 191),
 ('2012-09', 'Massage Room 2', 14),
 ('2012-09', 'Pool Table', 408),
 ('2012-09', 'Snooker Table', 199),
 ('2012-09', 'Squash Court', 87),
 ('2012-09', 'Table Tennis', 194),
 ('2012-09', 'Tennis Court 1', 132),
 ('2012-09', 'Tennis Court 2', 126)]